.titulo-principal {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  color: #fffbff;
  background-color: #184e77;
  padding: 20px;
  text-align: center;
}

.sub-titulo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.paragrafo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-indent: 30px;
    text-align: center;
}

.imagem-titulo{
    display: block;
    width: 250px;
    border-radius: 10px;
    margin: auto;
}

.imagem-titulo:hover{
    width: 270px;
}
